* {
  margin:0;
  padding:0;
}

#App {
  display:grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  /* margin:10px 60px 0px 60px; */
  /* margin: 5px; */
  border: 1px solid black;
  /* border-radius: 5px; */

}

#App_messages {
  display: grid;
  grid-template-rows: 7fr 1fr;
}
